@model IEnumerable<LojaQuadrinhos.Models.ApplicationUser>

@{
    ViewData["Title"] = "My profile";
}

 

<p>
    <a class="nav-link text-dark" asp-controller="purchase" asp-action="myhistory">My purchase history</a>
</p>
 